/* bootstrap.css */
* {
    font-size: 9px;
    line-height: 1.428;
    letter-spacing: -1px;
}

/* style.css */
* {
    font-size: 13px;
    line-height: 1;
}

.bg-login-image {
    background: url(http://img.echosting.cafe24.com/design/skin/mono/h1_logo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
